if SHIELD_NAHUEL70SPLIT_LEFT
    
    config ZMK_KEYBOARD_NAME
        default "Nahuel 70 Split"

    config ZMK_SPLIT_ROLE_CENTRAL
        default y

endif

if SHIELD_NAHUEL70SPLIT_RIGHT
    config ZMK_SPLIT_ROLE_CENTRAL
        default n
endif

if SHIELD_NAHUEL70SPLIT_LEFT || SHIELD_NAHUEL70SPLIT_RIGHT

    config ZMK_SPLIT
        default y

endif
